Flows Node-Red/flows Home.json
[
    {
        "id": "7671d105bf42e351",
        "type": "tab",
        "label": "Flow de Pantalla de inicio ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7c56abd22c2041e",
        "type": "ui_media",
        "z": "7671d105bf42e351",
        "group": "7bee1305ef1bdcd4",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "",
        "file": "Imagenes.png",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 810,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5c17522897a82198",
        "type": "change",
        "z": "7671d105bf42e351",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "a7c56abd22c2041e"
            ]
        ]
    },
    {
        "id": "d4057833401fcdbe",
        "type": "comment",
        "z": "7671d105bf42e351",
        "name": "Flow imagen de cámara original en dashboard",
        "info": "# Flujo para manejo de imagen en dashboard\n -  Peticion por http\n -  Guardar archivo de buffer binario en archivo dentro de la computadora servidor\n",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "476de4e1291bc5f9",
        "type": "file in",
        "z": "7671d105bf42e351",
        "name": "",
        "filename": "/home/ramses/ImagenPythonOriginal.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "5c17522897a82198",
                "5da63e7d480848ef",
                "a0f8567afee68932"
            ]
        ]
    },
    {
        "id": "5da63e7d480848ef",
        "type": "image viewer",
        "z": "7671d105bf42e351",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 610,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a0f8567afee68932",
        "type": "debug",
        "z": "7671d105bf42e351",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c9c4c8b667c1d16",
        "type": "inject",
        "z": "7671d105bf42e351",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "476de4e1291bc5f9"
            ]
        ]
    },
    {
        "id": "aa95ef5c2d1ab446",
        "type": "ui_ui_control",
        "z": "7671d105bf42e351",
        "name": "",
        "events": "change",
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a1cb503390c233c5",
        "type": "function",
        "z": "7671d105bf42e351",
        "name": "function 14",
        "func": "msg.payload = { \"tab\":\"Calibración\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "aa95ef5c2d1ab446"
            ]
        ]
    },
    {
        "id": "ea491f1fd5870849",
        "type": "ui_dropdown",
        "z": "7671d105bf42e351",
        "name": "",
        "label": "Nombre de Fruta",
        "tooltip": "",
        "place": "Select option",
        "group": "388100ccf6889e29",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Fruta 1",
                "value": "Fruta1",
                "type": "str"
            },
            {
                "label": "Fruta 2",
                "value": "Fruta2",
                "type": "str"
            },
            {
                "label": "Fruta 3",
                "value": "Fruta3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "f304e879c6c26609"
            ]
        ]
    },
    {
        "id": "96099ccd6fb60b23",
        "type": "ui_button",
        "z": "7671d105bf42e351",
        "name": "",
        "group": "388100ccf6889e29",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tomar datos para Calibrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "a1cb503390c233c5"
            ]
        ]
    },
    {
        "id": "661572f7cd1a30cb",
        "type": "function",
        "z": "7671d105bf42e351",
        "name": "function 15",
        "func": "msg.payload = { \"tab\":\"Medición\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "aa95ef5c2d1ab446"
            ]
        ]
    },
    {
        "id": "d5d4b8d54d442e69",
        "type": "ui_button",
        "z": "7671d105bf42e351",
        "name": "",
        "group": "388100ccf6889e29",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Realizar la medición",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "661572f7cd1a30cb"
            ]
        ]
    },
    {
        "id": "f304e879c6c26609",
        "type": "function",
        "z": "7671d105bf42e351",
        "name": "function 17",
        "func": "global.set(\"NomFruta\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "feef4809bc9adcc0",
        "type": "comment",
        "z": "7671d105bf42e351",
        "name": "Selectores de nombre fruta y procesos de  medición o calibración",
        "info": "",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "7bee1305ef1bdcd4",
        "type": "ui_group",
        "name": "Imagen",
        "tab": "6f41e214f2994ede",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "388100ccf6889e29",
        "type": "ui_group",
        "name": "Selectores",
        "tab": "6f41e214f2994ede",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f41e214f2994ede",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
