Flows Node-Red/flows Medicion.json
[
    {
        "id": "1eaeb951efb50769",
        "type": "tab",
        "label": "Flow de Medición ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9aa0add1d82ccbd5",
        "type": "group",
        "z": "1eaeb951efb50769",
        "g": "b00e412a63f3c0df",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f4369cace9558f9c",
            "af457bd9b9cd44d8",
            "91257ee22f7da35d",
            "101dca2d26c39d87",
            "20a6b074779c54d2",
            "de2ab5d4f5df1e4c",
            "7c4e08a2aa32e07c",
            "a089d4d75b15985c",
            "e0a23103ec80af05"
        ],
        "x": 294,
        "y": 319,
        "w": 412,
        "h": 322
    },
    {
        "id": "e7ad767e64664de3",
        "type": "group",
        "z": "1eaeb951efb50769",
        "g": "b00e412a63f3c0df",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f61db36266c933c8",
            "72031523616d5198",
            "31f3cb01213796e0",
            "a10ce5f3596c15b8",
            "4813fdeb47522b6c"
        ],
        "x": 294,
        "y": 139,
        "w": 452,
        "h": 202
    },
    {
        "id": "b00e412a63f3c0df",
        "type": "group",
        "z": "1eaeb951efb50769",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2673a7c057302c8d",
            "9aa0add1d82ccbd5",
            "e7ad767e64664de3"
        ],
        "x": 268,
        "y": 113,
        "w": 558,
        "h": 554
    },
    {
        "id": "f8bf4d7b582e5af8",
        "type": "group",
        "z": "1eaeb951efb50769",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "97192aaff153b8b5",
            "475a72b45cd617d7",
            "b8b8402aca3b410f",
            "74f4ed8a9d834cec"
        ],
        "x": -6,
        "y": 1279,
        "w": 612,
        "h": 142
    },
    {
        "id": "900979fa09efb23d",
        "type": "group",
        "z": "1eaeb951efb50769",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8960ae892da5b3aa",
            "35bbe95e0c2d54a9",
            "bb6dd3e4130f1425",
            "f1ee5e8709176bce",
            "f479fc6793704d84",
            "e0a66a1bc3eca154"
        ],
        "x": 14,
        "y": 1079,
        "w": 952,
        "h": 182
    },
    {
        "id": "f61db36266c933c8",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "e7ad767e64664de3",
        "group": "38b9a6931596eeb3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperatura Sensor",
        "label": "Sensor de Temperatura",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "72031523616d5198",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "e7ad767e64664de3",
        "group": "38b9a6931596eeb3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Humedad Sensor",
        "label": "Humedad Sensor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "f4369cace9558f9c",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "group": "1862b816417db790",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": " CO2 Sensor",
        "label": "Sensor CO2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "af457bd9b9cd44d8",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "group": "1862b816417db790",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Metano Sensor",
        "label": "Sensor de Metano",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "91257ee22f7da35d",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "group": "1862b816417db790",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Butano Sensor",
        "label": "Sensor de Butano",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "101dca2d26c39d87",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "group": "1862b816417db790",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Alcohol Sensor",
        "label": "Sensor de Alcohol",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "99506120f55f6738",
        "type": "ui_media",
        "z": "1eaeb951efb50769",
        "group": "62d2c095e7eef6cc",
        "name": "Imagen de camara",
        "width": 8,
        "height": 7,
        "order": 1,
        "category": "",
        "file": "MQTT comprovar ip de hivemq.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 850,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "20a6b074779c54d2",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "name": "Sensores gases",
        "info": "los sensores funcionan como interruptores\ntienen su propio led verde cuando se satura detecta y prende",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "31f3cb01213796e0",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "e7ad767e64664de3",
        "name": "function 11",
        "func": "msg.payload= msg.payload(\"temperatura\");\nglobal.set(\"Temperatura\",msg.payload(\"temperatura\")); \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "f61db36266c933c8"
            ]
        ]
    },
    {
        "id": "681adf9ffb08b7c2",
        "type": "mqtt in",
        "z": "1eaeb951efb50769",
        "d": true,
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c0ed33ac6aef07c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "31f3cb01213796e0",
                "a10ce5f3596c15b8",
                "de2ab5d4f5df1e4c",
                "7c4e08a2aa32e07c",
                "a089d4d75b15985c",
                "e0a23103ec80af05"
            ]
        ]
    },
    {
        "id": "be4f923a3b8090a1",
        "type": "change",
        "z": "1eaeb951efb50769",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "99506120f55f6738"
            ]
        ]
    },
    {
        "id": "597f38d1e1ba235d",
        "type": "inject",
        "z": "1eaeb951efb50769",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 800,
        "wires": [
            [
                "f7fce06d303954cb"
            ]
        ]
    },
    {
        "id": "f7fce06d303954cb",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "group": "a5c7b6c251ac7e49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha actual",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "ef4a1606fb3b703d",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "group": "a5c7b6c251ac7e49",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dias restantes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "04a12ab95df9f560",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "group": "a5c7b6c251ac7e49",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha limite",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 960,
        "wires": []
    },
    {
        "id": "b0b205296924c270",
        "type": "ui_gauge",
        "z": "1eaeb951efb50769",
        "name": "",
        "group": "b030960fbef66354",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Donar poducto cuando llegue a ROJO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "3",
        "className": "",
        "x": 690,
        "y": 1040,
        "wires": []
    },
    {
        "id": "97192aaff153b8b5",
        "type": "ui_ui_control",
        "z": "1eaeb951efb50769",
        "g": "f8bf4d7b582e5af8",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "475a72b45cd617d7",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "f8bf4d7b582e5af8",
        "name": "function 1",
        "func": "msg.payload = {\"tab\":\"Home\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1380,
        "wires": [
            [
                "97192aaff153b8b5"
            ]
        ]
    },
    {
        "id": "b8b8402aca3b410f",
        "type": "ui_button",
        "z": "1eaeb951efb50769",
        "g": "f8bf4d7b582e5af8",
        "name": "",
        "group": "6454d2f1870f6c03",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "cambia de tab",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "475a72b45cd617d7"
            ]
        ]
    },
    {
        "id": "a10ce5f3596c15b8",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "e7ad767e64664de3",
        "name": "function 18",
        "func": "msg.payload= msg.payload(\"temperatura\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "72031523616d5198"
            ]
        ]
    },
    {
        "id": "de2ab5d4f5df1e4c",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "name": "function 19",
        "func": "msg.payload= msg.payload(\"temperatura\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "f4369cace9558f9c"
            ]
        ]
    },
    {
        "id": "7c4e08a2aa32e07c",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "name": "function 20",
        "func": "msg.payload= msg.payload(\"temperatura\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "af457bd9b9cd44d8"
            ]
        ]
    },
    {
        "id": "a089d4d75b15985c",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "name": "function 21",
        "func": "msg.payload= msg.payload(\"temperatura\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "91257ee22f7da35d"
            ]
        ]
    },
    {
        "id": "e0a23103ec80af05",
        "type": "function",
        "z": "1eaeb951efb50769",
        "g": "9aa0add1d82ccbd5",
        "name": "function 22",
        "func": "msg.payload= msg.payload(\"temperatura\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "101dca2d26c39d87"
            ]
        ]
    },
    {
        "id": "695ceaebacec2571",
        "type": "file in",
        "z": "1eaeb951efb50769",
        "name": "",
        "filename": "/home/ramses/IImagenPythonRes.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "be4f923a3b8090a1"
            ]
        ]
    },
    {
        "id": "24b3c87419630f01",
        "type": "inject",
        "z": "1eaeb951efb50769",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "695ceaebacec2571"
            ]
        ]
    },
    {
        "id": "253c981b168e44fa",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "name": "Imagen con filtro de calibración más cercano",
        "info": "",
        "x": 170,
        "y": 20,
        "wires": []
    },
    {
        "id": "4813fdeb47522b6c",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "g": "e7ad767e64664de3",
        "name": "Sensores Temperatura y humedad",
        "info": "",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "b73e45891a92ada9",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "name": "Resultados del analisis de imagen y sensores ",
        "info": "",
        "x": 210,
        "y": 740,
        "wires": []
    },
    {
        "id": "d75cc9f276e212ac",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "name": "Alarma de donación",
        "info": "",
        "x": 130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "74f4ed8a9d834cec",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "g": "f8bf4d7b582e5af8",
        "name": "contorl de flujo de ventanas",
        "info": "",
        "x": 140,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8960ae892da5b3aa",
        "type": "exec",
        "z": "1eaeb951efb50769",
        "g": "900979fa09efb23d",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "EJECUTAR PYTHON MEDICION",
        "x": 600,
        "y": 1160,
        "wires": [
            [
                "f479fc6793704d84"
            ],
            [
                "f479fc6793704d84"
            ],
            [
                "f479fc6793704d84"
            ]
        ]
    },
    {
        "id": "35bbe95e0c2d54a9",
        "type": "change",
        "z": "1eaeb951efb50769",
        "g": "900979fa09efb23d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "SIGQUIT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1220,
        "wires": [
            [
                "8960ae892da5b3aa"
            ]
        ]
    },
    {
        "id": "bb6dd3e4130f1425",
        "type": "ui_button",
        "z": "1eaeb951efb50769",
        "g": "900979fa09efb23d",
        "name": "",
        "group": "51806a11c5d70f82",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inicia la medición",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "8960ae892da5b3aa"
            ]
        ]
    },
    {
        "id": "f1ee5e8709176bce",
        "type": "ui_button",
        "z": "1eaeb951efb50769",
        "g": "900979fa09efb23d",
        "name": "",
        "group": "51806a11c5d70f82",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Detener",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "35bbe95e0c2d54a9"
            ]
        ]
    },
    {
        "id": "f479fc6793704d84",
        "type": "debug",
        "z": "1eaeb951efb50769",
        "g": "900979fa09efb23d",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2673a7c057302c8d",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "g": "b00e412a63f3c0df",
        "name": "README",
        "info": "Tomar el valor del payload que sea de temperatura y guardarla en el msg.payload de salida para el cuadro de texto\n\nTomar el mismo valor de temperatura y guardarla en variable global\n\nRepetir para todos los valores de sensores",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "e0a66a1bc3eca154",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "g": "900979fa09efb23d",
        "name": "Control de ejecucaión de progrma python desde node-red",
        "info": "",
        "x": 250,
        "y": 1120,
        "wires": []
    },
    {
        "id": "38b9a6931596eeb3",
        "type": "ui_group",
        "name": "Condicion ambiental de la fruta",
        "tab": "89ed5f45a6a20826",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1862b816417db790",
        "type": "ui_group",
        "name": "Valores de gases emitidos por la fruta",
        "tab": "89ed5f45a6a20826",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62d2c095e7eef6cc",
        "type": "ui_group",
        "name": "Imagen2",
        "tab": "89ed5f45a6a20826",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c0ed33ac6aef07c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5c7b6c251ac7e49",
        "type": "ui_group",
        "name": "Fechas ",
        "tab": "89ed5f45a6a20826",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b030960fbef66354",
        "type": "ui_group",
        "name": "Notificación de donación",
        "tab": "89ed5f45a6a20826",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6454d2f1870f6c03",
        "type": "ui_group",
        "name": "Guardar medición",
        "tab": "89ed5f45a6a20826",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51806a11c5d70f82",
        "type": "ui_group",
        "name": "Imagen",
        "tab": "9e377d67f4a256c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89ed5f45a6a20826",
        "type": "ui_tab",
        "name": "Medición",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e377d67f4a256c5",
        "type": "ui_tab",
        "name": "Calibración",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
