Flows Node-Red/flows Medicion.json
[
    {
        "id": "1eaeb951efb50769",
        "type": "tab",
        "label": "Flow de Medición ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f136579f05e97ea4",
        "type": "group",
        "z": "1eaeb951efb50769",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f61db36266c933c8",
            "72031523616d5198"
        ],
        "x": 454,
        "y": 79,
        "w": 252,
        "h": 142
    },
    {
        "id": "6af185dfab3968e0",
        "type": "group",
        "z": "1eaeb951efb50769",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f4369cace9558f9c",
            "af457bd9b9cd44d8",
            "91257ee22f7da35d",
            "101dca2d26c39d87"
        ],
        "x": 454,
        "y": 239,
        "w": 212,
        "h": 262
    },
    {
        "id": "f61db36266c933c8",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "f136579f05e97ea4",
        "group": "38b9a6931596eeb3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperatura Sensor",
        "label": "Sensor de Temperatura",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "72031523616d5198",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "f136579f05e97ea4",
        "group": "38b9a6931596eeb3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Humedad Sensor",
        "label": "Humedad Sensor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "f4369cace9558f9c",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "6af185dfab3968e0",
        "group": "1862b816417db790",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": " CO2 Sensor",
        "label": "Sensor CO2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "af457bd9b9cd44d8",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "6af185dfab3968e0",
        "group": "1862b816417db790",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Metano Sensor",
        "label": "Sensor de Metano",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "91257ee22f7da35d",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "6af185dfab3968e0",
        "group": "1862b816417db790",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Butano Sensor",
        "label": "Sensor de Butano",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "101dca2d26c39d87",
        "type": "ui_text",
        "z": "1eaeb951efb50769",
        "g": "6af185dfab3968e0",
        "group": "1862b816417db790",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Alcohol Sensor",
        "label": "Sensor de Alcohol",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "99506120f55f6738",
        "type": "ui_media",
        "z": "1eaeb951efb50769",
        "group": "62d2c095e7eef6cc",
        "name": "Imagen de camara",
        "width": 6,
        "height": 5,
        "order": 1,
        "category": "Imagen Camara",
        "file": "MQTT comprovar ip de hivemq.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 550,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5ac0ac9b5d0459af",
        "type": "ui_button",
        "z": "1eaeb951efb50769",
        "name": "",
        "group": "6454d2f1870f6c03",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Siguiente",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "20a6b074779c54d2",
        "type": "comment",
        "z": "1eaeb951efb50769",
        "name": "Sensores gases",
        "info": "los sensores funcionan como interruptores\ntienen su propio led verde cuando se satura detecta y prende",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "38b9a6931596eeb3",
        "type": "ui_group",
        "name": "Condicion ambiental de la fruta",
        "tab": "89ed5f45a6a20826",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1862b816417db790",
        "type": "ui_group",
        "name": "Valores de gases emitidos por la fruta",
        "tab": "89ed5f45a6a20826",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62d2c095e7eef6cc",
        "type": "ui_group",
        "name": "Imagen ",
        "tab": "89ed5f45a6a20826",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6454d2f1870f6c03",
        "type": "ui_group",
        "name": "Guardar medición",
        "tab": "89ed5f45a6a20826",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89ed5f45a6a20826",
        "type": "ui_tab",
        "name": "Medición",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]