Flows Node-Red/Flow_Calibración.json
[
    {
        "id": "db493b0d9fc86436",
        "type": "tab",
        "label": "Flow de Calibración",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c1118d9ef159c00",
        "type": "group",
        "z": "db493b0d9fc86436",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b88346a062ed0cea",
            "b76b572419a36999",
            "55252aa6c2325bb7",
            "d29ec5424af3cb72",
            "a7a84110301b1fba",
            "8e6d7f80343805b1"
        ],
        "x": 54,
        "y": 919,
        "w": 872,
        "h": 222
    },
    {
        "id": "3ddf0d611094dde1",
        "type": "group",
        "z": "db493b0d9fc86436",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ef315eee59fa0e43",
            "2ad1a0cc5e0051b2",
            "f16e2991f03cc84e"
        ],
        "x": -26,
        "y": 239,
        "w": 1648,
        "h": 288
    },
    {
        "id": "15b0d2a38d68fdd2",
        "type": "group",
        "z": "db493b0d9fc86436",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2dfd450ac3fc9a89",
            "1f09c65e16873261",
            "6ed0bcf6df2800e4"
        ],
        "x": 1074,
        "y": 39,
        "w": 352,
        "h": 122
    },
    {
        "id": "e36e1ae0217f623b",
        "type": "group",
        "z": "db493b0d9fc86436",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eabeb3383692de43",
            "a70863c389e8052b",
            "b2d806c5cfe480c4",
            "eb6349e7b71e6649",
            "68ff82ca2d616889",
            "7583f5d217d85be0",
            "8f8e3bd223d2b26d"
        ],
        "x": 14,
        "y": 1199,
        "w": 1032,
        "h": 162
    },
    {
        "id": "fda9b97d79984327",
        "type": "group",
        "z": "db493b0d9fc86436",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aa95ef5c2d1ab446",
            "ea491f1fd5870849",
            "661572f7cd1a30cb",
            "d5d4b8d54d442e69",
            "f304e879c6c26609",
            "0a7da50754c124cc"
        ],
        "x": 14,
        "y": 1419,
        "w": 612,
        "h": 202
    },
    {
        "id": "2ad1a0cc5e0051b2",
        "type": "group",
        "z": "db493b0d9fc86436",
        "g": "3ddf0d611094dde1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "66be8372557bb1a9",
            "4784b28b0601d41c",
            "85bdb1b9ff3c3200",
            "bd7e7bbdb1fc5820",
            "c88aa6a0e205e747",
            "7ddd31859dc6ae61",
            "9eb13d2eb056f2d8",
            "cbae415b2819013d",
            "6497299cbc2aa1fe",
            "4805ce22de6b7b58"
        ],
        "x": 34,
        "y": 299,
        "w": 752,
        "h": 202
    },
    {
        "id": "f16e2991f03cc84e",
        "type": "group",
        "z": "db493b0d9fc86436",
        "g": "3ddf0d611094dde1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "30308a3eaa14f0b3",
            "4aa4b2a51abe559e",
            "7377ab08bafe3f12",
            "b1bf4f3bb22fba71",
            "18cf87ee93bd8e49",
            "d74e476bc877f59a",
            "3b43e955c1228864",
            "165018ee0e04dc72",
            "7cd389f40098721c",
            "998a69da6ddbe0a2"
        ],
        "x": 874,
        "y": 299,
        "w": 722,
        "h": 202
    },
    {
        "id": "c88aa6a0e205e747",
        "type": "ui_slider",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "",
        "label": "h min slider",
        "tooltip": "",
        "group": "1871e864c2a25e3e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "66be8372557bb1a9"
            ]
        ]
    },
    {
        "id": "bd7e7bbdb1fc5820",
        "type": "ui_slider",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "",
        "label": "s min slider",
        "tooltip": "",
        "group": "1871e864c2a25e3e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "4784b28b0601d41c"
            ]
        ]
    },
    {
        "id": "7ddd31859dc6ae61",
        "type": "ui_slider",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "",
        "label": "v min slider",
        "tooltip": "",
        "group": "1871e864c2a25e3e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "85bdb1b9ff3c3200"
            ]
        ]
    },
    {
        "id": "30308a3eaa14f0b3",
        "type": "ui_slider",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "",
        "label": "h max slider",
        "tooltip": "",
        "group": "1871e864c2a25e3e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "b1bf4f3bb22fba71"
            ]
        ]
    },
    {
        "id": "4aa4b2a51abe559e",
        "type": "ui_slider",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "",
        "label": "s max slider",
        "tooltip": "",
        "group": "1871e864c2a25e3e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 1310,
        "y": 400,
        "wires": [
            [
                "18cf87ee93bd8e49"
            ]
        ]
    },
    {
        "id": "7377ab08bafe3f12",
        "type": "ui_slider",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "",
        "label": "v max slider",
        "tooltip": "",
        "group": "1871e864c2a25e3e",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 1310,
        "y": 460,
        "wires": [
            [
                "d74e476bc877f59a"
            ]
        ]
    },
    {
        "id": "35f76193779f8e40",
        "type": "ui_dropdown",
        "z": "db493b0d9fc86436",
        "name": "",
        "label": "Grado de maduración",
        "tooltip": "",
        "place": "",
        "group": "eee61006b420f724",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Verde",
                "value": "Verde",
                "type": "str"
            },
            {
                "label": "Maduro",
                "value": "Maduro",
                "type": "str"
            },
            {
                "label": "Sobre maduro",
                "value": "Sobre maduro",
                "type": "str"
            },
            {
                "label": "Exceso",
                "value": "Exceso",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "4ba5e4fdb45d9afe"
            ]
        ]
    },
    {
        "id": "08827992d2c233e6",
        "type": "debug",
        "z": "db493b0d9fc86436",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "66be8372557bb1a9",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "function 2",
        "func": "global.set(\"hmin\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3e2061fbb4401ef5",
        "type": "json",
        "z": "db493b0d9fc86436",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "08827992d2c233e6",
                "b189f973b4cae558",
                "d923f92376907fb5"
            ]
        ]
    },
    {
        "id": "4cedacacee264cc4",
        "type": "function",
        "z": "db493b0d9fc86436",
        "name": "Valores Min y Max de HSV",
        "func": "msg.payload = {Hmin: global.get(\"hmin\"), Vmin: global.get(\"vmin\"), Smin: global.get(\"smin\"), Hmax: global.get(\"hmax\"), Vmax: global.get(\"vmax\"), Smax: global.get(\"smax\") };\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 60,
        "wires": [
            [
                "3e2061fbb4401ef5"
            ]
        ]
    },
    {
        "id": "4784b28b0601d41c",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "function 6",
        "func": "global.set(\"smin\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "85bdb1b9ff3c3200",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "function 7",
        "func": "global.set(\"vmin\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b1bf4f3bb22fba71",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "function 8",
        "func": "global.set(\"hmax\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "18cf87ee93bd8e49",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "function 9",
        "func": "global.set(\"smax\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d74e476bc877f59a",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "function 10",
        "func": "global.set(\"vmax\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b189f973b4cae558",
        "type": "mqtt out",
        "z": "db493b0d9fc86436",
        "name": "",
        "topic": "codigoIoT/mqtt/Detector/Min_Max_HSV",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c0ed33ac6aef07c",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "4ba5e4fdb45d9afe",
        "type": "function",
        "z": "db493b0d9fc86436",
        "name": "Var Global = GrdMaduracion",
        "func": "global.set(\"GrdMaduracion\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "38e7231835573669",
        "type": "change",
        "z": "db493b0d9fc86436",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 660,
        "wires": [
            [
                "edcf66d33ff41680"
            ]
        ]
    },
    {
        "id": "bee00f3827bcd29e",
        "type": "file in",
        "z": "db493b0d9fc86436",
        "name": "",
        "filename": "/home/ramses/ImagenPythonRes.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 660,
        "wires": [
            [
                "38e7231835573669"
            ]
        ]
    },
    {
        "id": "f6e776b258d773e9",
        "type": "inject",
        "z": "db493b0d9fc86436",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "bee00f3827bcd29e"
            ]
        ]
    },
    {
        "id": "1b570e24e186d7ad",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "name": "Imagen con filtro construido de hsv aplicado",
        "info": "",
        "x": 210,
        "y": 600,
        "wires": []
    },
    {
        "id": "1d4eab0b465b403b",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "name": "guarda valores en MySQL y envia a Python por MQTT",
        "info": "",
        "x": 220,
        "y": 20,
        "wires": []
    },
    {
        "id": "ef315eee59fa0e43",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "g": "3ddf0d611094dde1",
        "name": "Barras deslizantes para valores de HSV Min y Max",
        "info": "",
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "1c5bf89d2ad6968e",
        "type": "inject",
        "z": "db493b0d9fc86436",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": ".5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "4cedacacee264cc4"
            ]
        ]
    },
    {
        "id": "edcf66d33ff41680",
        "type": "ui_media",
        "z": "db493b0d9fc86436",
        "group": "51806a11c5d70f82",
        "name": "",
        "width": 5,
        "height": 4,
        "order": 2,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 830,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b88346a062ed0cea",
        "type": "debug",
        "z": "db493b0d9fc86436",
        "g": "8c1118d9ef159c00",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b76b572419a36999",
        "type": "exec",
        "z": "db493b0d9fc86436",
        "g": "8c1118d9ef159c00",
        "command": "python3 ~/Documentos/GitHubRamses/Proyecto-Capstone-Codigo-IoT-G7-Detector-de-maduracion-de-frutas-/MQTTsubSimple.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Programa python calibración",
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "b88346a062ed0cea"
            ],
            [
                "b88346a062ed0cea"
            ],
            [
                "b88346a062ed0cea"
            ]
        ]
    },
    {
        "id": "55252aa6c2325bb7",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "g": "8c1118d9ef159c00",
        "name": "Ejecucion de programa python",
        "info": "",
        "x": 260,
        "y": 960,
        "wires": []
    },
    {
        "id": "d29ec5424af3cb72",
        "type": "ui_button",
        "z": "db493b0d9fc86436",
        "g": "8c1118d9ef159c00",
        "name": "",
        "group": "51806a11c5d70f82",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Iniciar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "b76b572419a36999"
            ]
        ]
    },
    {
        "id": "a7a84110301b1fba",
        "type": "change",
        "z": "db493b0d9fc86436",
        "g": "8c1118d9ef159c00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "SIGQUIT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "b76b572419a36999"
            ]
        ]
    },
    {
        "id": "2dfd450ac3fc9a89",
        "type": "ui_numeric",
        "z": "db493b0d9fc86436",
        "g": "15b0d2a38d68fdd2",
        "name": "",
        "label": "Dias restantes",
        "tooltip": "",
        "group": "eee61006b420f724",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "365",
        "step": 1,
        "className": "",
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "1f09c65e16873261"
            ]
        ]
    },
    {
        "id": "1f09c65e16873261",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "15b0d2a38d68fdd2",
        "name": "DiasRest",
        "func": "global.set(\"DiasRest\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6ed0bcf6df2800e4",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "g": "15b0d2a38d68fdd2",
        "name": "Dias restantes de vida util",
        "info": "El usuaro le da dias de vida util restante como parte de la calibración",
        "x": 1210,
        "y": 80,
        "wires": []
    },
    {
        "id": "eabeb3383692de43",
        "type": "mysql",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "mydb": "030c4755b7433c16",
        "name": "",
        "x": 700,
        "y": 1320,
        "wires": [
            [
                "7583f5d217d85be0"
            ]
        ]
    },
    {
        "id": "a70863c389e8052b",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "name": "Registro en MySQL",
        "func": "msg.topic = \"INSERT INTO Calibraciones(fruta,temp,hum,propano,alcohol,metano,Dioxido_de_carbono,HSV,DiasRest,Maduración) VALUES ('\" + global.get(\"NomFruta\") + \"','\" + global.get(\"Temperatura\") + \"','\" + global.get(\"hum\") + \"','\" + global.get(\"butano\") + \"','\" + global.get(\"alcohol\") + \"','\" + global.get(\"metano\") + \"','\" + global.get(\"CO2\") + \"','\" + global.get(\"JASON\") + \"','\" + global.get(\"DiasRest\") + \"','\" + global.get(\"GrdMaduracion\") + \"')\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1320,
        "wires": [
            [
                "eabeb3383692de43"
            ]
        ]
    },
    {
        "id": "b2d806c5cfe480c4",
        "type": "inject",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "8f8e3bd223d2b26d"
            ]
        ]
    },
    {
        "id": "eb6349e7b71e6649",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "name": "Guardar datos en MySQL",
        "info": "Para hacer el registro se usa el msg.payload y apra extraer datos de MySQl se usa el msg.topic\n\nGuardar registro en mysql\nSi es texto a guardar en columna se usa ''\nSi hace referencia a variable se usa '\"+variable+\"'\n\nmsg.topic = \"INSERT INTO Calibraciones(fruta,temp,hum,propano,alcohol,metano,Dioxido_de_carbono,HSV,DiasRest) VALUES ('Limon',20,30,40,50,60,70,'{h_l:4,s_l:5,v_l:6,h_l:7,h_l:8,h_l:9}',2)\";\nreturn msg;\n\n\n",
        "x": 150,
        "y": 1240,
        "wires": []
    },
    {
        "id": "68ff82ca2d616889",
        "type": "ui_button",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "name": "",
        "group": "eee61006b420f724",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Guardar calibración",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "a70863c389e8052b"
            ]
        ]
    },
    {
        "id": "d923f92376907fb5",
        "type": "function",
        "z": "db493b0d9fc86436",
        "name": "function 25",
        "func": "global.set(\"JASON\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7583f5d217d85be0",
        "type": "debug",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1320,
        "wires": []
    },
    {
        "id": "9eb13d2eb056f2d8",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "function 26",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [
            [
                "c88aa6a0e205e747"
            ]
        ]
    },
    {
        "id": "cbae415b2819013d",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "function 27",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "bd7e7bbdb1fc5820"
            ]
        ]
    },
    {
        "id": "6497299cbc2aa1fe",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "function 28",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "7ddd31859dc6ae61"
            ]
        ]
    },
    {
        "id": "3b43e955c1228864",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "function 29",
        "func": "msg.payload=360;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "30308a3eaa14f0b3"
            ]
        ]
    },
    {
        "id": "165018ee0e04dc72",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "function 30",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 400,
        "wires": [
            [
                "4aa4b2a51abe559e"
            ]
        ]
    },
    {
        "id": "7cd389f40098721c",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "function 31",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "7377ab08bafe3f12"
            ]
        ]
    },
    {
        "id": "4805ce22de6b7b58",
        "type": "ui_ui_control",
        "z": "db493b0d9fc86436",
        "g": "2ad1a0cc5e0051b2",
        "name": "",
        "events": "connect",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "9eb13d2eb056f2d8",
                "cbae415b2819013d",
                "6497299cbc2aa1fe"
            ]
        ]
    },
    {
        "id": "998a69da6ddbe0a2",
        "type": "ui_ui_control",
        "z": "db493b0d9fc86436",
        "g": "f16e2991f03cc84e",
        "name": "",
        "events": "all",
        "x": 960,
        "y": 340,
        "wires": [
            [
                "3b43e955c1228864",
                "165018ee0e04dc72",
                "7cd389f40098721c"
            ]
        ]
    },
    {
        "id": "8f8e3bd223d2b26d",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "e36e1ae0217f623b",
        "name": "Registro en MySQL Manual ",
        "func": "msg.topic = \"INSERT INTO Calibraciones(fruta, temp, hum, propano, alcohol, metano, Dioxido_de_carbono, HSV, DiasRest,Maduración) VALUES('Fruta1', 23, 39, 10, 2, 3, 10, '\" + global.get(\"JASON\") +\"', 7,'\"+global.get(\"GrdMaduracion\")+\"')\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1280,
        "wires": [
            [
                "eabeb3383692de43"
            ]
        ]
    },
    {
        "id": "aa95ef5c2d1ab446",
        "type": "ui_ui_control",
        "z": "db493b0d9fc86436",
        "g": "fda9b97d79984327",
        "name": "",
        "events": "change",
        "x": 540,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "ea491f1fd5870849",
        "type": "ui_dropdown",
        "z": "db493b0d9fc86436",
        "g": "fda9b97d79984327",
        "name": "",
        "label": "Fruta",
        "tooltip": "",
        "place": "Select option",
        "group": "51806a11c5d70f82",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Fruta 1",
                "value": "Fruta1",
                "type": "str"
            },
            {
                "label": "Naranja",
                "value": "Naranja",
                "type": "str"
            },
            {
                "label": "Fruta 3",
                "value": "Fruta3",
                "type": "str"
            },
            {
                "label": "Fruta 4",
                "value": "Fruta4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 1520,
        "wires": [
            [
                "f304e879c6c26609"
            ]
        ]
    },
    {
        "id": "661572f7cd1a30cb",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "fda9b97d79984327",
        "name": "function 15",
        "func": "msg.payload = { \"tab\":\"Medición\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1580,
        "wires": [
            [
                "aa95ef5c2d1ab446"
            ]
        ]
    },
    {
        "id": "d5d4b8d54d442e69",
        "type": "ui_button",
        "z": "db493b0d9fc86436",
        "g": "fda9b97d79984327",
        "name": "",
        "group": "eee61006b420f724",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ir a Medición",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "661572f7cd1a30cb"
            ]
        ]
    },
    {
        "id": "f304e879c6c26609",
        "type": "function",
        "z": "db493b0d9fc86436",
        "g": "fda9b97d79984327",
        "name": "function 17",
        "func": "global.set(\"NomFruta\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "0a7da50754c124cc",
        "type": "comment",
        "z": "db493b0d9fc86436",
        "g": "fda9b97d79984327",
        "name": "Nombre de fruta",
        "info": "",
        "x": 120,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9f5ee55f5a81bbc3",
        "type": "http request",
        "z": "db493b0d9fc86436",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.69/cam-lo.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 740,
        "wires": [
            [
                "5c17522897a82198",
                "a0f8567afee68932",
                "5da63e7d480848ef"
            ]
        ]
    },
    {
        "id": "5c17522897a82198",
        "type": "change",
        "z": "db493b0d9fc86436",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "d4d3ac3365170d0b"
            ]
        ]
    },
    {
        "id": "d4d3ac3365170d0b",
        "type": "ui_media",
        "z": "db493b0d9fc86436",
        "group": "51806a11c5d70f82",
        "name": "",
        "width": 5,
        "height": 4,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 830,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5da63e7d480848ef",
        "type": "image viewer",
        "z": "db493b0d9fc86436",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 590,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "a0f8567afee68932",
        "type": "debug",
        "z": "db493b0d9fc86436",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "8e6d7f80343805b1",
        "type": "ui_button",
        "z": "db493b0d9fc86436",
        "g": "8c1118d9ef159c00",
        "name": "",
        "group": "51806a11c5d70f82",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Detener calibración",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "a7a84110301b1fba"
            ]
        ]
    },
    {
        "id": "a4d2baf63baeb674",
        "type": "inject",
        "z": "db493b0d9fc86436",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "9f5ee55f5a81bbc3"
            ]
        ]
    },
    {
        "id": "dd0709046269ca3b",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "62d2c095e7eef6cc",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba6236b0b9cff132",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "62d2c095e7eef6cc",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "819dba1361f5cbdb",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "62d2c095e7eef6cc",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "df1f182f7a4e8954",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "62d2c095e7eef6cc",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "56222c329399a33b",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "62d2c095e7eef6cc",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "03ab605d9f71bb7c",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "62d2c095e7eef6cc",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "49c68f3f5619f622",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "38b9a6931596eeb3",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "4d1ce3e98750847b",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "51806a11c5d70f82",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "92ec02e3ba71dd8a",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "51806a11c5d70f82",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "b044729299716061",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "51806a11c5d70f82",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "49c5e8f58a0da229",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "51806a11c5d70f82",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "12dda042a072f66c",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "51806a11c5d70f82",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "895a694b9fc2b359",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "51806a11c5d70f82",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "bf652feeded9a1fe",
        "type": "ui_spacer",
        "z": "db493b0d9fc86436",
        "name": "spacer",
        "group": "1871e864c2a25e3e",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "1871e864c2a25e3e",
        "type": "ui_group",
        "name": "Parametros a calibrar HSV",
        "tab": "9e377d67f4a256c5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eee61006b420f724",
        "type": "ui_group",
        "name": "Selector maduración",
        "tab": "9e377d67f4a256c5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c0ed33ac6aef07c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "51806a11c5d70f82",
        "type": "ui_group",
        "name": "Imagen",
        "tab": "9e377d67f4a256c5",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "030c4755b7433c16",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "Detector_de_maduracion_de_frutas",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "62d2c095e7eef6cc",
        "type": "ui_group",
        "name": "Imagen2",
        "tab": "89ed5f45a6a20826",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "38b9a6931596eeb3",
        "type": "ui_group",
        "name": "Condicion ambiental de la fruta",
        "tab": "89ed5f45a6a20826",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e377d67f4a256c5",
        "type": "ui_tab",
        "name": "Calibración",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89ed5f45a6a20826",
        "type": "ui_tab",
        "name": "Medición",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]